// 普通模式
:root {
  --t-text-color: #213547;
  --t-bg-color: #ffffff;
  --t-a-color:  #646cff;
  --t-a-hover-color: #747bff;
  --t-button-bg-color: #f9f9f9;
  --t-button-bg-hover-color: #646cff;
  --t-bg2-color: #cbcaca;
  --t-theme-color: #646cff;
  --t-theme-bg-color: #8a8ff6;
}

// 黑暗模式
.html-theme-model-dark {
  --t-text-color: rgba(255, 255, 255, 0.87);
  --t-bg-color: #242424;
  --t-a-hover-color: #535bf2;
  --t-button-bg-color: #1a1a1a;
  --t-bg2-color: #5b5b5b;
}

:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--t-text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--t-a-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--t-a-hover-color);
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 0;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--t-button-bg-color);
  color: var(--t-text-color);
  cursor: pointer;
}

button:hover {
  border-color: var(--t-button-bg-hover-color);
}
